@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
	--default-font-family: "Averia Libre", monospace;
}

html {
	scrollbar-gutter: stable;
	scrollbar-color: #888 white; /* for Firefox */

	&::-webkit-scrollbar-track {
		background: white;
	}

	&::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 4px;

		&:hover {
			background: #555;
		}
	}
}

@media print {
	html {
		font-size: 12px;
	}
}

@layer components {
	.search-cancel {
		&::-webkit-search-cancel-button {
			-webkit-appearance: none;
			appearance: none;
			cursor: pointer;
			height: 1rem;
			width: 1rem;
			background-size: 1rem 1rem;
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23666666" stroke-width="2" stroke-linecap="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
			transition:
				opacity 0.2s,
				background-image 0.2s;
		}
		&::-webkit-search-cancel-button:hover {
			opacity: 0.8;
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23333333" stroke-width="3" stroke-linecap="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
		}
	}
}

@keyframes slideInFromTopRight {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes slideOutToTopRight {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100%);
	}
}

::view-transition-new(.corner-slide-in-out) {
	animation-name: slideInFromTopRight;
	animation-duration: 200ms;
	animation-timing-function: ease-in-out;
}

::view-transition-old(.corner-slide-in-out) {
	animation-name: slideOutToTopRight;
	animation-duration: 200ms;
	animation-timing-function: ease-in-out;
}
